<!DOCTYPE html>
<head>
    <title>Team Matchup Helper</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://lolMatchup.com" target="_blank">lolMatchup.com</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="https://twitter.com/arxdsilva" target="_blank">Twitter<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="text-center">
    <h3>LoL Matchup</h3>
  </div>
  <div class="container">
    <tr>
      <table border="1"><th><div class="text-center">Blue Team</div></th>
        <tbody>
          <!-- {{ range . }}

          {{ end }} -->
        </tbody>
      </table>


      <table class="champ" border="1"><th><div class="text-center">Champions</div></th>
        <tbody class="champ">
          <tr>
            {{ range . }}
            <a href="{{ .Champ }}">
              <img src="{{ .Champ }}.png" target>
            </a>
            {{ end }}
          </tr>
        </tbody>
      </table>


      <table border="1"><th><div class="text-center">Red Team</div></th>
        <tbody>
          <!-- {{ range . }}

          {{ end }} -->
        </tbody>
      </table>
    </tr>
  </div>


  <footer class="footer">
      <div class="col-md-12 col-xs-12 text-center">
          <p>Crafted in Rio de Janeiro by <a href="http://www.github.com/arxdsilva" target="_blank">@ArxdSilva</a></p>
      </div>
  </footer>

  <!-- bootstrap's scripts -->
  <script src="../css/js/jquery.min.js"></script>
  <script src="../css/js/bootstrap.min.js"></script>
</body>
